/* zrt-cssregistry: */

@media all {

  #z-portal-tabs {
    text-align: right;
    margin: 0;
    padding-right: 1em;
    background-color: transparent;
    font-size: 110%;
    line-height: normal;
  }

  #z-portal-tabs ul {
    list-style: none;
    line-height: normal;
  }

  #z-portal-tabs li {
    display: inline;
    margin-right: 0.5em;
  }

  #z-portal-tabs li a {
    background-color: transparent;
    border: borderWidth borderStyle globalBorderColor;
    border-bottom: none;
    padding: 0em 1em 0em 1em;
    text-decoration: none;
    text-transform: textTransform;
    z-index: 1;
  }

  #z-portal-tabs .selected a {
    background-color: globalBackgroundColor;
    border-bottom: borderWidth borderStyle globalBackgroundColor;
  }

  #z-portal-tabs li a:hover {
    background-color: globalBackgroundColor;
    border-bottom: borderWidth borderStyle globalBackgroundColor;
  }
}

@media print { 
  #z-portal-tabs { 
    display: none;
  }
}
